:root.dark {
  --color-base-bg: #051114;
  --color-base-text: #fbb269;
  --rock-btn: #ee5b5c;
  --paper-btn: #fbb269;
  --scissors-btn: #b3d6cc;
  --hbar-bg: #2f2f2f;
  --light-dark-btn: #d7e5e5;
  --light-dark-icon: #353535;
}

:root.light {
  --color-base-bg: #eeecdd;
  --color-base-text: #c4711e;
  --rock-btn: #ee5b5c;
  --paper-btn: #f79f47;
  --scissors-btn: #5ecbac;
  --hbar-bg: #d3d3d3;
  --light-dark-btn: #363737;
  --light-dark-icon: #d7e5e5;
}

body {
  background-color: var(--color-base-bg);
  color: var(--color-base-text);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  font-family: "Objektiv MK3", "Poppins", "Open Sans", Arial, sans-serif;
  margin: 0;
}

#score {
  font-size: 32px;
  font-family: fantasy, "Poppins", "Objektiv Mk3", Arial, sans-serif;
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
}

button {
  color: var(--color-base-text);
  padding: 16px;
  background-color: transparent;
  border: 1px dashed;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  border-style: solid;
}

#rock,
#paper,
#scissors {
  height: 128px;
  box-sizing: border-box;
}

#rock {
  font-weight: 600;
  border-color: var(--rock-btn);
  color: var(--rock-btn);
}

#paper {
  font-weight: 600;
  border-color: var(--paper-btn);
  color: var(--paper-btn);
}

#scissors {
  font-weight: 600;
  border-color: var(--scissors-btn);
  color: var(--scissors-btn);
}

.move-container > * {
  flex: 0 0 0;
  font-size: 56px;
  font-family: Montserrat, "Gill Sans";
  transition: 0.3s;
  opacity: 0.45;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  opacity: 1;
  border: 3px solid;
  padding: calc(16px - 2px);
  transform: scale(1.05);
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
}

.move-container {
  flex-wrap: wrap;
  justify-content: center;
  margin: 5em 0em 5em;
  padding: 8px;
  display: flex;
  gap: 64px;
}

.results-container {
  width: 92vmin;
  align-items: center;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.player-computer-display {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.player-horizontal-bar,
.computer-horizontal-bar {
  height: 2px;
  width: inherit;
  background-color: var(--hbar-bg);
  border-radius: 100px;
  margin: 4px;
  display: none;
}

.bar-and-display {
  margin: 4px;
  width: 10.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score {
  width: inherit;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}
#score > * {
  flex-shrink: 1;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.modal {
  position: fixed;
  top: 40%;
  z-index: 2;
  padding: 24px;
  z-index: +1;
  color: var(--color-base-text);
  background-color: var(--color-base-bg);
  box-shadow: 8px 8px 0px var(--rock-btn);
  border-radius: 16px;
  display: none;
}

button.modal-button {
  float: inline-end;
  margin-top: 16px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  color: var(--light-dark-icon);
}

#color-mode {
  padding: 5px;
  align-self: flex-end;
  margin: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--light-dark-btn);
  box-shadow: 2px 2px 3px #22222233;
}

.overlay {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.467);
}

