:root.dark {
  --color-base-bg: #051114;
  --color-base-text: #fbb269;
  --rock-btn: #ee5b5c;
  --paper-btn: #fbb269;
  --scissors-btn: #b3d6cc;
  --hbar-bg: #2f2f2f;
  --light-dark-btn:#d7e5e5;
}

:root.dark {
  --color-base-bg: #010c04;
  --color-base-text: #fbb269;
  --rock-btn: #ee5b5c;
  --paper-btn: #fbb269;
  --scissors-btn: #b3d6cc;
  --hbar-bg: #2f2f2f;
  --light-dark-btn:#d7e5e5;
}

body {
  background-color: var(--color-base-bg);
  color: var(--color-base-text);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  font-family: "Objektiv MK3", "Poppins", "Open Sans", Arial, sans-serif;
}

#score {
  font-size: 2rem;
  font-family: fantasy, "Poppins", "Objektiv Mk3", Arial, sans-serif;
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
}

button {
  color: #fbb269;
  padding: 16px;
  background-color: transparent;
  border: 1px dashed;
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
}

#rock,
#paper,
#scissors {
  height: 128px;
  box-sizing: border-box;
}

#rock {
  font-weight: 600;
  border-color: var(--rock-btn);
  color: var(--rock-btn);
}
#paper {
  font-weight: 600;
  border-color: var(--paper-btn);
  color: var(--paper-btn);
}
#scissors {
  font-weight: 600;
  border-color: var(--scissors-btn);
  color: var(--scissors-btn);
}

.move-container > * {
  flex: 0 0 0;
  font-size: 4em;
  font-family: Montserrat, "Gill Sans";
  transition: 0.3s;
  opacity: 0.4;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  box-sizing: border-box;
  opacity: 1;
  border: 3px solid;
  padding: calc(16px - 2px);
  transform: scale(1.05);
}

.move-container {
  flex-wrap: wrap;
  margin: 5em 0em 5em;
  padding: 8px;
  display: flex;
  gap: 64px;
}

.results-container {
  align-items: center;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.player-computer-display {
  display: flex;
  gap: 28rem;
}

.player-horizontal-bar,
.computer-horizontal-bar {
  height: 0.2rem;
  width: 10rem;
  background-color: var(--hbar-bg);
  border-radius: 100px;
  margin: 4px;
}

.bar-and-display {
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score {
  width: 24rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
#score > * {
  width: 1rem;
  box-sizing: border-box;
}

#dialog {
  color: var(--color-base-text);
  background-color: var(--color-base-bg);
  box-shadow: 8px 8px 0px var(--rock-btn);
  border-radius: 16px;
}

form {
  display: flex;
  justify-content: flex-end;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  margin-top: 2px;
  color: rgb(39, 39, 39);
}

#color-mode {
  padding: 5px;
  align-self: flex-end;
  margin: 16px;
  border: 0px;
  border-radius: 5px;
  background-color: var(--light-dark-btn);
  box-shadow: 2px 2px 3px #22222233;
}

* {
  border: 1px solid red;
}
